.wrapper {
    width: 100%;
    display: block;
    background: #BBDEFB;
    text-align: center;
}
input {
    width: 95%;
    border: none;
    height: 2.5vh;
    min-height: 25px;
    font-size: 2.5vh;
    margin-top: 5%;  
}
ul {
  display: block;
  padding: 0;
  text-align: center;
  opacity: 0.5;
}
li {
    width:95%;
    margin-left: 2.4%;
}
li:hover {
    background: #2196F3;
    color: #fff;
    opacity: 1;
}
.error {
    color:red;
}