<div class="wrapper">
    <input  type="text" 
            name="search" 
            placeholder="search"
            [formControl]="myControl"
            (click)="onClick()"
            (keyup.enter)="onFormSubmit()"
    >
    <p *ngIf="isError" class="error">
        You dont have a contact with such a name 
    </p>
    <ul *ngIf="filteredContacts.length" >
        <li *ngFor="let contact of filteredContacts"
            (click)="chooseContact(contact)">
            {{contact.name}}
        </li>
    </ul>
</div>
