.wrapper {
    display:block;
    width: 100%;
    min-width: 100px;
   background: #BBDEFB;
   margin:0;
}
img {
    float: left;
    max-width:70px;
    max-height: 70px;
    min-width: 40px;
    min-height:40px;
    border-radius:60px;
}
button {
    width: 100%;
    position: relative;
    border:none;
    font-size: 2.5vh;
    margin: auto;
}
.text{
    display: block;
    position: absolute;
    left: 70px;
    top:4vh;
}
button:hover{
    background-color: #2196F3;
    color: #BBDEFB;
}
.wrapper:visited  {
    background-color: #2196F3;
    color: #BBDEFB;
}