.wrapper {
    /*position: relative;*/
    height:100vh;
    min-height: 550px;
    /*background:url(../../assets/images/bg_image_main.jpg) no-repeat; */
}
ul{
    overflow-y: scroll;
    height: 93%;
    background: linear-gradient(rgb(0, 68, 255),  #2196F3);
    
}
li {
    float: left;
    width: 51%;
    border:1px solid #fff;
    border-radius: 20px;
    background: #fff;
    margin:1%;
    word-wrap: break-word;
	overflow-wrap: break-word;
}
.right-message {
    color: green;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    
}
strong {
    margin-right: 10px;
}
.right-message strong {
    margin-left: 10px;
}
.write-field {
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
.button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 25vh;
    width:100%;
    min-width: 520px;
}
input {
    border:none;
    border-radius: 20px;
    width: 93%;
    min-width: 200px;
    height:2em;
    text-align: center;
    margin-bottom: 10px;
    margin-left:5px;
}
button {
    height: 2em;
    width:5%;
    border:none;
}
.button:hover{
    color:#fff;
    background:  #2196F3;
}