/* You can add global styles to this file, and also import other style files */

.app-wrapper {
    display:block;
    width: 60%;
    min-width: 500px;
    min-height: 500px;
    background: #E3F2FD;
    margin: auto;
}